.section{
  inset: 0px;
  display:flex;
  width:35%;
  height:100%;
  overflow: visible;
  background-color: var(--color-bg-accent);
  padding-top:12%;
  position:sticky;
  align-items: stretch;
}
.titleContainer{
  display:flex;
  position: relative;
  padding:20px 20px 20px 20px; 
  margin:30px;
  width:80%;
  height:60vh;
  border-radius: 12px;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-bg);
}

.title{
  margin-top:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:70%;
  padding: 10px;
  height:25%;
  background-color: var(--color-primary);
  color:var(--color-text-white);
  border-radius: 12px;

  font-size: 2rem;
}

p {
  margin-top:40px;
  margin-bottom:20px;
  width:70%;
  color:var(--color-text);
}

.squareOne{
  display: flex;
  height: 63px;
  width:63px;
  background-color: var(--color-secondary);
  transform: translate(60px, 0px);
  border-radius: 12px;

}
.mathbook{
  display: flex;
  width:45%;
  height:50%;
  align-items: flex-end;
  overflow: hidden;
}

@media screen and (max-width: 830px){
  
}