.section{
  display:flex;
  width:35%;
  height:1000px;
  transform: translate(0px,-135px);
  overflow: hidden;
  background-color: var(--color-bg-accent);
  padding-top:150px;
  justify-content: center;

}
.titleContainer{
  display:flex;
  position: relative;
  padding:20px 20px 20px 20px; 
  margin:30px;
  width:80%;
  height:60%;
  border-radius: 12px;
  justify-content: center;
  
  background-color: var(--color-bg);
}
.title{
  display: flex;
  justify-content: center;
  width:100%;
  
}
.squareOne{
  display: flex;
  height: 63px;
  width:63px;
  background-color: var(--color-secondary);
  transform: translate(60px, 0px);
  border-radius: 12px;

}
.mathbook{
  display: flex;
  width:100px;
  height:100px;
  justify-content: center;
}