:root{
  /* Colours */
  --color-text:#162D68;
  --color-text-white:#fff;
  --color-primary:#162D68;
  --color-secondary:#cba108;
  --color-dark:#162D68;

  --color-bg:#fff;
  --color-bg-accent:#0771FF;

}